:root {
  --bg-input: #ffffff15;
  --bg-svg: linear-gradient(
    to bottom right,
    var(--color-1-light) 0%,
    var(--color-1-dark) 60%,
    var(--color-1-light) 100%
  );
  --color-1-dark: #212529;
  --color-1-light: #343a40;
  --card-border-color: #ffffff33;
  --card-border: 1px solid #ffffff33;
  --color-2-dark: #495057;
  --color-2-light: #6c757d;
  --error: #e85d04;
  --color-3-ok: #219ebc;
  --color-3-ok1: #457b9d;
  --color-3-ok2: #8ecae6;
  --color-blue-dark: #184e77;
  --color-blue: #219ebc;
  --color-focus-placeholder: var(--color-1-light);
  --color-green: #81c784;
  --color-light: #dee2e6;
  --color-placeholder: #ffffff99;
  --color-yellow: #f4cd3a;
  --glass-dark: #ffffff06;
  --glass: #ffffff11;
  --glass-dark: #00000033;
  
  --color-border-blue: 2px solid var(--color-3-ok);
  --color-border-bottom-error: 1px solid var(--color-yellow);
  --color-bottom: #1b263b;
  --color-3-green: #25d366;
  // change 3-ok into 3-green and 3-blue
}
