:root {
  --line-height: 1.5;
  --fw200: 200;
  --fw400: 400;
  --fw600: 600;
  --fw800: 800;
  --fs067: clamp(0.68rem, 1vw, 0.8rem);
  --fs083: clamp(0.74rem, 1vw, 0.86rem);
  --fs1: clamp(0.8rem, 1vw, 0.92rem);
  --fs117: clamp(0.86rem, 1vw, 0.98rem);
  --fs150: clamp(0.92rem, 1vw, 1.08rem);
  --fs2: clamp(1rem, 1vw, 2.2rem);
}
