@mixin height($height: false) {
  @if $height {
    height: $height;
  } @else {
    height: 5rem;
  }
}

@mixin display($jc: center, $ai: center, $fd: column) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
}

@mixin border($name: border, $size: 1px, $color: #ffffff33) {
  #{$name}: $size solid $color;
}

@mixin bg {
  background-color: rgba(255, 255, 255, 0.1);
}
