:root {
  --blur: blur(10px);
  --border-radius: 0.35rem;
  --button-width: min(90%, 13rem);
  --card-container-width: min(97%, 40rem); // not used
  --container-width: min(100%, 40rem);
  --padding: 0.5rem;
  --transition: all 0.35s ease-in-out;
  --wrapper-width: min(97%, 20rem); // not used
}
