:root {
  --container-width: min(100%, 40rem);
  --padding: 0.5rem;
  --transition: all 0.35s ease-in-out;
  --border-radius: 0.35rem;
  --button-width: min(90%, 20rem); // not used
  --card-container-width: min(97%, 40rem); // not used
  --wrapper-width: min(97%, 20rem); // not used
  --blur: blur(10px);
  --line-height: 1.5;
  --fs: clamp(0.67rem, 1.25vw, 0.8rem);
  --fs-input: clamp(0.8rem, 1.25vw, 1rem);
}
