.container {
  p {
    margin-bottom: 2rem;

    span {
      font-weight: 400;
      letter-spacing: 1px;
    }

    a {
      color: var(--color-green);
      background-color: var(--color-2-dark);
      border-radius: var(--border-radius);
      display: flex;
      align-items: center;
      width: fit-content;
      padding: 0.2rem 0.5rem;
      font-weight: 400;
      margin-top: 0.25rem;
    }
  }
}
