.graphButton {
  width: 100%;
}

.table {
  width: min(97%, 30rem);
  border-color: var(--color-2-dark);
  color: var(--color-light);
  background-color: var(--color-1-dark);
  border: var(--card-border);
  position: relative;
  .graphPop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  thead {
    position: relative;
    .graphButton {
      position: absolute;
      top: 0;
      left: 0;
      width: 3rem;
      height: 100%;
      // padding-inline: 2.5rem;
      height: 100%;
      background: url("../../public/icons/graph.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  thead tr th {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0.5rem;
    border: var(--card-border);
  }

  tbody tr td {
    padding: 0.2rem 0.5rem;
    font-size: 0.7rem;
    border: var(--card-border);
    font-weight: 200;
    text-align: start;
  }
  tbody tr:nth-child(odd) {
    background-color: var(--color-2-dark);
  }
  tbody tr:last-child {
    background-color: transparent;
  }
  tbody tr td:last-child {
    text-align: center;
    width: fit-content;
  }
}
