.donatii {
  $color-blue-light: var(--color-3-ok2);
  $color-light: var(--color-light);
  text-align: justify;
  user-select: none;

  .gratuit {
    font-weight: var(--fw400);
    text-transform: uppercase;
    font-size: var(--fs115);
    letter-spacing: 1px;
    text-decoration: underline;
    text-underline-offset: 0.15rem;
  }

  .para:first-letter {
    color: $color-blue-light;
    font-weight: 400;
    font-size: var(--fs15);
    padding-right: 0.1rem;
    margin-left: 2rem;
  }

  ol {
    color: $color-light;

    li {
      font-weight: 200;
      font-size: var(--fs1);
      margin-bottom: 0.5rem;

      span {
        font-weight: 400;
        font-size: var(--fs1);
        color: $color-blue-light;
        text-transform: uppercase;
      }
    }
  }

  .cont {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      .copyIcon {
        color: $color-light;
        margin-left: 1rem;

        &:hover {
          color: $color-blue-light;
          cursor: pointer;
        }

        &:active {
          font-size: 0.8em;
        }
      }
    }
  }

  .separator {
    height: 2px;
    background-color: $color-light;
    width: 100%;
  }

  @media screen and (max-width: 565px) {
    .cont {
      flex-direction: column;

      h4 {
        text-align: center;
      }

      p {
        justify-content: center;
        text-align: center;
      }
    }
  }
}
