.main {
  --size-box: 10rem;
  // background-color: #000000;
  // background-color: brown;
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
