.button {
  border-radius: var(--border-radius);
  color: var(--color-light);
  font-size: var(--fs083);
  font-weight: var(--fw200);
  margin-top: 0.5rem;
  padding: 0.2rem 0;
  transition: var(--transition);
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  padding: 0.35rem 1rem;
  background-color: var(--reset-bg);
  &:hover {
    // background: url("../../public/gradient.svg");
    background-color: var(--hover-bg);
    color: var(--color-hover);
  }
  span {
    flex-grow: 1;
  }
}
