.button {
  background-color: "var(--color-1-dark)";
  border-radius: var(--border-radius);
  border: "none";
  color: "var(--color-2-light)";
  font-size: clamp(0.8rem, 1.6vw, 1rem);
  font-weight: 400;
  margin: 0.5rem 0;
  overflow: hidden;
  padding: 0.5rem 0;
  position: relative;
  transition: var(--transition);
  text-align: center;
  width: fit-content;
}
