.minmax {
  border-radius: var(--border-radius);
  background: var(--bg-svg);
  border: 1px solid rgba(255, 255, 255, 0.1);
  text {
    font-size: 0.35rem;
    fill: var(--color-light);
    font-family: monospace;
  }
  .title {
    font-size: 0.5rem;
  }
}

.days {
  border-radius: var(--border-radius);
  background: var(--bg-svg);
  border: 1px solid rgba(255, 255, 255, 0.1);
  text {
    fill: white;
    stroke: none;
    font-size: 0.35rem;
    font-weight: 400;
    letter-spacing: 1px;
  }
}

.orar {
  border-radius: var(--border-radius);
  background: var(--bg-svg);
  border: 1px solid rgba(255, 255, 255, 0.1);
  text {
    font-size: 0.5rem;
  }
  .entireTime {
    font-size: 0.4rem;
  }
}

.test {
  border-radius: var(--border-radius);
  background: var(--bg-svg);
  border: 1px solid rgba(255, 255, 255, 0.1);
  path {
    // clip-path: url(#clip);
  }
}
