.container {
  --height: 2rem;
  background: linear-gradient(to bottom right, #434343, #000000);
  // margin: 2rem;
  width: fit-content;
  min-width: 10rem;
  padding: 0.35rem 0.5rem;
  border-radius: var(--border-radius);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  color: transparent;
  font-size: clamp(0.6rem, 1vw, 0.8rem);
  font-weight: 200;
  position: relative;
  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    circle {
      transition: all 0.5s ease-in-out;
      stroke: none;
    }
    text {
      stroke: none;
      fill: white;
      transition: all 0.5s ease-in-out;
    }
  }
  &:hover svg circle {
    r: 90%;
  }
  &:hover svg text {
    fill: var(--color-1-dark);
  }
}
