.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .backButton {
        background-color: var(--color-1-dark);
        transition: var(--transition);
        border-radius: var(--border-radius);
        white-space: nowrap;
        display: flex;
        min-width: 10rem;
    }

    .text {
        color: var(--color-light);
        transition: var(--transition);
        height: 100%;
        font-size: .8rem;
        font-weight: 200;
    }

    .icon {
        color: var(--color-light);
        transition: var(--transition);
    }

    .backButton:hover p,
    .backButton:hover .icon {
        color: var(--color-1-dark);
    }

    .backButton:hover {
        background-color: var(--color-light);
    }
}