@use "../styling/mixin" as *;

.sidebar {
  // backdrop-filter: var(--blur);
  // @include border(border-top, $color: var(--card-border-color));
  // @include border(border-bottom, $color: var(--card-border-color));
  // @include border(border-left, $color: var(--card-border-color));
  position: absolute;
  top: 4.5rem;
  right: 1rem;
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
  gap: 0.5rem;
  background-color: transparent;
  .container {
    display: flex;
    justify-content: flex-end;
    // transition: all 0.35s ease;
    cursor: pointer;
    p {
      background-color: var(--color-blue-dark);
      width: 0;
      white-space: nowrap;
      transition: all 0.35s ease;
      border-top-left-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
      z-index: -1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.8rem;
      font-weight: 200;
      opacity: 0;
    }
    &:hover p {
      width: fit-content;
      opacity: 1;
      padding-inline: 1rem;
    }
  }
}
