@use "../styling/mixin" as *;

.sidebar {
  position: absolute;
  top: 4rem;
  right: 2%;
  transition: var(--transition);
  transition-delay: var(--delay);
  gap: 0.25rem;
  margin-top: 1rem;
  z-index: 1020;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  clip-path: var(--clip);
  padding: 1rem 0 1rem 1rem;
  background: #0003;
  backdrop-filter: var(--blur);
  border-radius: 1rem 0 0 1rem;
  border: var(--card-border);
}

@media screen and (width < 600px) {
  .sidebar {
    right: 0%;
    width: 100%;
    margin-inline: auto;
    background-color: var(--glass);
    backdrop-filter: var(--blur);
    padding: 1rem 0 1rem 0;
    padding: 0.25rem;
    border-radius: 0;
    // border: 1px solid red;
    transition-delay: 0s;
  }
}
