@use "../styling/mixin" as *;

.sidebar {
  position: absolute;
  top: 4rem;
  right: 2%;
  transition: var(--transition);
  transition-delay: var(--delay);
  gap: 0.25rem;
  margin-top: 1rem;
  z-index: 1020;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  clip-path: var(--clip);
}

@media screen and (width < 600px) {
  .sidebar {
    width: 96%;
    background-color: var(--glass);
    backdrop-filter: var(--blur);
    padding-block: 1rem;
    transition-delay: 0s;
  }
}
