.container {
  animation: fade linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 15%;
  border: var(--color-border-card);

  hr {
    padding: 0;
    margin: 0;
    margin-top: 0.35rem;
  }

  .topWrapper {
    padding-top: 0.35rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    h6 {
      margin: 0;
      padding: 0;
      font-size: var(--font-size08);
      font-weight: 200;
      color: var(--color-light);
    }

    h6:first-child {
      padding-inline: 1rem;
    }

    h6:last-child {
      flex: 1;
      padding-left: 1rem;
      font-weight: 400;
    }
  }

  .bottomWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 1;

    .card {
      color: var(--color-light);
      margin: 0rem;
      padding: 0 0.5rem;
      height: 100%;
      width: 100%;
      p {
        font-size: var(--font-size08);
        font-weight: 200;
        margin: 0;
        padding: 0;
      }

      h6 {
        margin: 0;
        padding: 0;
        font-size: var(--font-size08);
        font-weight: 400;
        margin-bottom: 0.2rem;
      }
    }
    .link {
      width: 100%;
      display: flex;
      justify-content: space-between;
      // margin-bottom: 0.5rem;
      padding: 0.5rem;
      // border: 1px solid yellow;

      a {
        background-color: var(--color-3-ok);
        border-radius: var(--border-radius);
        box-shadow: -1px 1px 4px 1px rgba(0, 0, 0, 0.3);
        color: var(--color-light);
        padding: 0.2rem 0.5rem;
        transition: box-shadow 0.15s, background-color 0.15s;
        font-weight: 400;
        font-size: var(--font-size06);
      }

      a:hover {
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
        background-color: var(--color-blue-dark);
      }
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.7);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
