.container {
  height: var(--iconSize);
  width: var(--iconSize);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row-reverse;
  position: relative;
  overflow: hidden;
  .imageWrapper {
    min-width: var(--iconSize);
    height: 100%;
    background-color: var(--glass);
    backdrop-filter: var(--blur);
    border-radius: var(--border-radius);
    border: var(--card-border);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
  }
  h4 {
    height: 100%;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: var(--fs08);
    background-color: var(--glass);
    backdrop-filter: var(--blur);
    padding-inline: 1rem;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border: var(--card-border);
    border-right: none;
    transition: var(--transition);
  }
  h4:hover {
    color: var(--color-1-dark);
    background-color: var(--color-placeholder);
  }
  &:hover {
    width: 30rem;
    .imageWrapper {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      //   border-left: none;
    }
  }
}

// clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
