.container {
  height: var(--iconSize);
  width: var(--iconSize);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row-reverse;
  position: relative;
  overflow: hidden;
  background-color: var(--glass);
  backdrop-filter: var(--blur);
  border: var(--card-border);
  border-radius: var(--border-radius);
  transition: var(--transition);
  cursor: pointer;
  .icon {
    min-width: var(--iconSize);
    min-height: var(--iconSize);
    background-color: coral;
    background: var(--iconSrc);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text {
    height: 100%;
    white-space: nowrap;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    font-size: var(--fs08);
    padding-right: .5rem;
    font-weight: 400;
    flex-grow: 1;
    letter-spacing: 1px;
    background: var(--color-2-light);
    clip-path: polygon(
      20% 10%,
      100% 10%,
      100% 0%,
      100% 90%,
      0% 90%,
      0% 35%
    );
    transition: all 1s ease;
  }
  .text:hover {
    color: var(--color-1-dark);
    background-color: var(--color-placeholder);
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 0%,
      100% 100%,
      0% 100%,
      0% 50%
    );
  }
  &:hover {
    width: 12rem;
    .imageWrapper {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      //   border-left: none;
    }
  }
}

// clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
