@use "../styling/mixin" as *;
// in components/SortItems.js
.h4 {
  user-select: none;
  font-size: 0.9rem;
  color: var(--color-light);
  margin: 0;
  padding: 0;
  white-space: nowrap;
  @include display();
  width: 100%;
  font-weight: 400;
}

@media screen and (width < 768px) {
  .h4 {
    padding: 0 0.25rem;
    margin: 0;
    font-size: 0.6rem;
    font-weight: 200;
  }
}
