.container {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  width: min(100%, 125rem);
  margin-inline: auto;
  background-color: #080808;
  background: url("../../public/backgrounds/leftLines.svg");
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}
