.container {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  width: min(100%, 100rem);
  margin-inline: auto;
  background-color: var(--page-bg);
  // background: url("../../public/backgrounds/test.svg");
  // background-color: rgb(211, 211, 211);
  background-attachment: fixed;
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  position: relative;
}
