.container {
    width: min(97%, 40rem);
    margin: 0;
    padding: 0;

    h3 {
        color: var(--color-blue-dark);
        background-color: var(--color-light);
        border-radius: var(--border-radius);
        margin: 1rem 0 0 0;
        padding: .5rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: var(--fs08);
        align-items: center;
        user-select: none;
        text-align: center;
        strong{
            color: var(--error);
            font-weight: 400;
        }
    }
}