.main {
  --halfMinus: calc(var(--size) / 2 * -1);
  --halfPlus: calc(var(--size) / 2);
  --tran: all 0.5s cubic-bezier(0.49, -0.68, 0.36, 1.49);
  --checked: darkcyan;
  --checkedDark: rgb(0, 117, 117);
  --unchecked: whitesmoke;
  --uncheckedDark: rgb(173, 173, 173);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: calc(var(--size) * 1.5);
  padding: calc(var(--size) / 4) calc(var(--size) / 2);
  gap: calc(var(--size) / 2);
  margin-block: 0.1rem;
  span {
    color: var(--color-light);
    font-size: calc(var(--size) / 1.25);
    white-space: nowrap;
  }

  .container {
    width: var(--size);
    height: var(--size);
    perspective: calc(var(--size) * 4);

    input {
      display: none;
    }
    label {
      transform-style: preserve-3d;
      position: relative;
      width: 100%;
      height: 100%;
      background-color: transparent;
      overflow: visible;
      transform: rotateY(-25deg);
      transition: var(--tran);
      cursor: pointer;

      .face {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: calc(var(--size) / 5);
        transition: var(--tran);
      }
      .icon {
        width: 100%;
        height: 100%;
        color: black;
        &.iconChecked {
          width: 80%;
          height: 80%;
          color: var(--color-light);
        }
      }
      .front {
        transform: translateZ(var(--halfPlus));
        background-color: var(--unchecked);
      }
      .back {
        transform: translateZ(var(--halfMinus)) rotateY(180deg);
        background-color: var(--checked);
      }
      .left {
        transform: rotateY(-90deg) translateZ(var(--halfPlus));
        background-color: var(--checkedDark);
      }
      .right {
        transform: rotateY(90deg) translateZ(var(--halfPlus));
        background-color: var(--uncheckedDark);
      }
      .top {
        transform: rotateX(90deg) translateZ(var(--halfPlus));
        background-color: white;
      }
      .bottom {
        transform: rotateX(-90deg) translateZ(var(--halfPlus)) scale(1);
        background-color: var(--unchecked);
      }
    }
    input:checked + label {
      transform: rotateY(-205deg);
      .bottom {
        transform: rotateX(-90deg) translateZ(var(--halfPlus)) scale(1);
      }
    }
  }
  &:hover label {
    transform: rotateY(0deg);
  }
  &:hover input:checked + label {
    transform: rotateY(-180deg);
  }
}
