.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-shrink: 1.5;
  .average {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  h4 {
    font-size: 1rem;
    margin: 0;
  }
  span {
    color: darkgray;
  }
  // .stars {
  //   width: fit-content;
  //   border: 1px solid red;
  //   .star {
  //     margin: 0 0.1rem;
  //   }
  // }
}
