@use "../styling/mixin" as *;

//in pages/index.js
.container {
  @include display($jc: space-around);
  height: fit-content;
  top: 0.5rem;

  .desktop {
    background: glass;
    backdrop-filter: blur(55px);
    border-radius: border-radius;
    @include display($ai: flex-start);
    margin-left: 0.5rem;
    padding: 0.5rem;

    .smallContainer {
      width: 100%;
      margin: 0.2rem 0;
    }
  }
}

@media (width < 768px) {
  .container {
    margin-bottom: 0.35rem;
    margin-top: 1rem;

    .desktop {
      margin: 0;
      width: 97%;
      padding: 0;
      box-shadow: 0px 3px 20px 1px rgba(0, 0, 0, 0.4);

      .smallContainer {
        @include display($jc: flex-start, $fd: row);
        flex-wrap: wrap;

        &:not(:last-child) {
          box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
        }
      }
    }

    .desktop > :first-child {
      @include display($fd: row-reverse, $jc: space-evenly);
    }
  }
}
