@use "../styling/mixin" as *;

//in pages/index.js
.container {
  @include display();
  height: fit-content;
  top: 0.5rem;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  @include border(border-right);
  @include border(border-top);
  @include border(border-bottom);
  background-color: var(--glass);
  backdrop-filter: var(--blur);
  border-radius: var(--border-radius);
  width: min(95%, 12.5rem);
  .desktop {
    @include display($ai: flex-start);
    margin-left: 0.5rem;
    padding: 0.5rem;
    width: 100%;

    .smallContainer {
      width: 100%;
      margin: 0.2rem 0;
      gap: 0.2rem;
    }
  }
}

@media screen and (width < 768px) {
  .container {
    margin-bottom: 0.35rem;
    width: 97%;
    margin-inline: auto;

    .desktop {
      margin: 0;
      width: 100%;
      padding: 0 0.2rem;
      box-shadow: 0px 3px 20px 1px rgba(0, 0, 0, 0.4);
      @include display($fd: row-reverse, $ai: flex-start);
      gap: 0.2rem;

      .smallContainer {
        @include display($jc: center, $fd: row);
        flex-wrap: wrap;
        background-color: transparent;
        width: 100%;
      }
    }

    .desktop > :first-child {
      @include display($fd: row-reverse, $jc: space-evenly);
    }
  }
}
