// in CardCautare.js
.onlyStars {
  padding: 0.3rem 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  // width: fit-content;
  justify-content: start;
  background-color: var(--color-2-light);
  border-radius: var(--border-radius);
  padding-inline: 0.25rem;
}

.onlyStars input[type="radio"] {
  display: none;
}
.onlyStars .star {
  /* cursor: none; */
  transition: var(--transition);
  margin: 0 0.1rem;
}
.onlyStars label {
  display: flex;
  flex-direction: column;
}
