.userContainer {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background: url("../../public/backgrounds/gradientBg.svg");
  z-index: 2000;
  transition: var(--transition);
  gap: 1rem;
}
