.container {
    margin: 0;
    padding: 0;
    width: min(100%, 40rem);

    .button {
        border: none;
        background-color: transparent;
        color: var(--color-light);
        font-size: 1.25rem;
        outline: none;
        padding: 0 1rem;
    }

    table {
        margin: 0;
        padding: 0;
        background-color: var(--color-blue-dark);
        color: var(--color-light);
        border-radius: var(--border-radius);
        border-color: var(--color-placeholder);

        thead th {
            font-size: 1rem;
            font-weight: 400;
        }

        td,td span {
            font-size: .8rem;
            font-weight: 200;
        }
        
        tr td:first-child {
            font-weight: 400;
            color: var(--color-light);
            width: 50%;
        }
        tr td a{
            text-decoration: none;
            color: var(--color-light);
            transition: color .25s ease-in-out;
            &:hover{
                color: var(--color-orange);
            }
        }
        
    }
}