.container {
  width: min(100%, 40rem);
}

.iconReset {
  transition: var(--transition);
}
.resetBtn:hover .iconReset {
  animation: anim 1s linear infinite;
}

@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
