.removeButton {
  border-radius: var(--border-radius);
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  margin-block: auto;
  cursor: pointer;
  transition: var(--transition);
  font-weight: 200;
  &:hover {
    background: var(--error);
    color: var(--color-light);
  }
}

.span {
  color: var(--color-blue-dark);
  color: var(--color-light);
  border: 1px solid var(--color-placeholder);
  width: fit-content;
  padding: 0rem 0.5rem;
  border-radius: var(--border-radius);
  font-size: 0.7rem;
  margin-top: 0.25rem;
  font-weight: 200;
}
