.removeButton {
  background-color: var(--color-blue-light);
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  cursor: pointer;
  transition: var(--transition);
  &:hover {
    background-color: transparent;
    border-color: var(--color-orange);
  }
}

.span {
  color: var(--color-blue-dark);
  background-color: var(--color-light);
  width: fit-content;
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius);
  align-self: center;
  font-size: 0.8rem;
  margin-top: 0.25rem;
  // font-weight: 200;
}
