.container {
  display: flex;
  flex-direction: column;
  flex-shrink: 3;
  h4 {
    font-size: 1rem;
    margin: 0;
  }
  span {
    color: darkgray;
  }
  .stars {
    width: fit-content;
    .star {
      margin: 0 0.1rem;
    }
  }
}
