.container {
  button {
    border: none;
    appearance: none;
    background-color: var(--color-blue-dark);
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 1rem;
    outline: none;
    width: min(90%, 10rem);
    margin: 1rem 0;
  }
  .input {
    background-color: coral;
    appearance: none;
    width: 2rem;
    height: 2rem;
    margin: 1rem 0;
    border-radius: 50%;
    cursor: pointer;
    display: none;
  }
  .star {
    cursor: pointer;
  }
  .input:checked {
    background-color: black;
  }
  .slidecontainer {
    width: 100%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    .slider {
      -webkit-appearance: none;
      width: min(95%, 20rem);
      height: 0.8rem;
      border-radius: 0.5rem;
      margin: 0.5rem 0;
      background: linear-gradient(to right, black 10%, coral 10%);
      &::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 1.2rem; /* Set a specific slider handle width */
        height: 1.2rem; /* Slider handle height */
        border-radius: 50%;
        background: blue; /* Green background */
        cursor: pointer; /* Cursor on hover */
      }
    }
  }
  .ratingScore {
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      h4 {
        font-size: 0.7rem;
        margin: 0 0.5rem;
        width: 2rem;
        text-align: center;
        white-space: nowrap;
      }
      input {
        -webkit-appearance: none;
        width: min(95%, 20rem);
        height: 0.8rem;
        border-radius: 0.5rem;
        margin: 0.5rem 0;
        // background: linear-gradient(
        //   to right,
        //   var(--color-blue-dark) 10%,
        //   var(--color-light) 10%
        // );
        &::-webkit-slider-thumb {
          -webkit-appearance: none; /* Override default look */
          appearance: none;
          width: 0.8rem; /* Set a specific slider handle width */
          height: 0.8rem; /* Slider handle height */
          border-radius: 50%;
          background: var(--color-blue-dark); /* Green background */
          cursor: pointer; /* Cursor on hover */
          display: none;
        }
      }
    }
  }
}
