.whatsapp {
  p {
    width: 100%;
    text-align: center;
    color: var(--color-light);
    font-size: 0.8rem;
    font-weight: 200;
  }

  .bottomPartWhatsApp {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
      color: var(--color-wa);
    }
  }
}
