.whatsapp {
  p {
    width: 100%;
    text-align: center;
    color: var(--color-light);
    font-size: 0.8rem;
    font-weight: 200;
  }
  h6 {
    width: 100%;
    color: var(--color-light);
    a {
      color: var(--color-wa);
    }
  }
}
