.row {
    $onerem: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color .25s ease-in-out;
    padding-inline: .5rem;

    h4 {
        user-select: none;
        font-size: .9rem;
        color: var(--color-blue-dark);
        margin: 0;
        padding: 0;
        margin-top: .7rem;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    label {
        color: var(--color-blue-dark);
        flex: 1;
        cursor: pointer;
        font-weight: 200;
        font-size: 0.8rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
        padding-block: .7rem;
        white-space: nowrap;
    }

    input {
        $dim: .6rem;
        appearance: none;
        background-color: var(--color-light);
        border-radius: 1px;
        cursor: pointer;
        width: $dim;
        height: $dim;
        transform: rotate(0);
        outline: 1px solid var(--color-blue-light);
        outline-offset: 2px;
        margin: 0;
        padding: 0;
        margin-left: .5rem;
        transition: all .25s ease-in-out;
    }

    input:checked {
        background-color: var(--color-blue-light);
        outline-color: var(--color-blue-light);
        transform: rotate(45deg);
    }

    &:has(label):hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

}