.container {
    // width: ;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    margin-bottom: .5rem;

    // DESKTOP
    .desktop {
        width: fit-content;
        min-width: 10rem;
        background-color: var(--color-blue-dark);
        margin-left: .5rem;
        padding-bottom: .5rem;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        border-radius: var(--border-radius);

        .row {
            $onerem: 1rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: background-color .25s ease-in-out;
            padding-inline: .5rem;

            h4 {
                user-select: none;
                font-size: .9rem;
                color: var(--color-light);
                margin: 0;
                padding: 0;
                margin-top: .7rem;
                white-space: nowrap;

            }

            label {
                color: var(--color-light);
                flex: 1;
                cursor: pointer;
                font-weight: 200;
                font-size: 0.8rem;
                height: 1.5rem;
                display: flex;
                align-items: center;
                padding-block: .7rem;
                white-space: nowrap;

            }

            input {
                $dim: .6rem;
                cursor: pointer;
                appearance: none;
                background-color: var(--color-light);
                width: $dim;
                height: $dim;
                transform: rotate(0);
                outline: 1px solid var(--color-light);
                outline-offset: 2px;
                margin: 0;
                padding: 0;
                margin-left: .5rem;
                transition: all .25s ease-in-out;
            }

            input:checked {
                background-color: var(--color-blue-light);
                outline-color: var(--color-blue-light);
                transform: rotate(45deg);
            }

            &:has(label):hover {
                background-color: rgba(255, 255, 255, 0.1);
            }

        }
    }








    // MOBILE
    .mobile {
        width: 100%;
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .wrapper {
            width: 100%;
            margin-inline: .5rem;
            height: fit-content;
            padding-block: .15rem;
            background-color: var(--color-blue-dark);
            border-radius: var(--border-radius);
            display: flex;
            justify-content: space-around;
            align-items: center;

            .row {
                width: fit-content;
                margin: 0;
                padding: 0;
                padding-block: .3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                @media screen and (max-width: 411px){
                    flex-direction: column;
                }
                
                label {
                    width: 100%;
                    color: var(--color-light);
                    user-select: none;
                    font-size: .7rem;
                    padding-right: .3rem;
                }
                
                input {
                    appearance: none;
                    width: .5rem;
                    height: .5rem;
                    background-color: var(--color-light);
                    border-radius: 50%;
                    outline: 1px solid var(--color-light);
                    outline-offset: 2px;
                    margin: .3rem;
                    transition: all .2s ease-in-out;
                }
                input:checked{
                    outline-color: var(--color-blue-light);
                    background-color: var(--color-blue-light);
                }
                
                select {
                    // border: 1px solid red;
                    appearance: none;
                    border-radius: var(--border-radius);
                    padding-inline: .2rem;
                    border: none;
                    // font-size: var(--font-size08);
                    font-size: .7rem;
                    background-color: var(--color-blue-light);
                    color: var(--color-light);
                    // width: 7rem;
                }
            }
        }
    }
}