.container {
    height: fit-content;
    display: flex;
    justify-content: space-around;
    margin-bottom: .5rem;

    // DESKTOP
    .desktop {
        width: fit-content;
        min-width: 10rem;
        background-color: var(--color-blue-dark);
        margin-left: .5rem;
        padding-bottom: .5rem;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        border-radius: var(--border-radius);
    }



    // MOBILE
    .mobile {
        width: 100%;
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .wrapper {
            width: 100%;
            margin-inline: .5rem;
            height: fit-content;
            padding-block: .15rem;
            background-color: var(--color-blue-dark);
            border-radius: var(--border-radius);
            display: flex;
            justify-content: space-around;
            align-items: center;

            .row {
                width: fit-content;
                margin: 0;
                padding: 0;
                padding-block: .3rem;
                display: flex;
                justify-content: center;
                align-items: center;

                @media screen and (max-width: 411px) {
                    flex-direction: column;
                }

                label {
                    width: 100%;
                    color: var(--color-light);
                    user-select: none;
                    font-size: .7rem;
                    padding-right: .3rem;
                }

                input {
                    appearance: none;
                    width: .5rem;
                    height: .5rem;
                    background-color: var(--color-light);
                    border-radius: 50%;
                    outline: 1px solid var(--color-light);
                    outline-offset: 2px;
                    margin: .3rem;
                    transition: all .2s ease-in-out;
                }

                input:checked {
                    outline-color: var(--color-blue-light);
                    background-color: var(--color-blue-light);
                }

                select {
                    appearance: none;
                    border-radius: var(--border-radius);
                    padding-inline: .2rem;
                    border: none;
                    font-size: .7rem;
                    background-color: var(--color-blue-light);
                    color: var(--color-light);
                }
            }
        }
    }
}