.container {
    display: flex;
    height: fit-content;
    justify-content: space-around;
    margin-bottom: .5rem;

    // DESKTOP
    .desktop {
        align-items: flex-start;
        background-color: var(--color-light);
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: .5rem;
        min-width: 10rem;
        padding-bottom: .5rem;
        width: fit-content;
    }



    // MOBILE
    .mobile {
        $clr: var(--color-blue-light);
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        width: 100%;
        
        .wrapper {
            align-items: center;
            background-color: var(--color-light);
            border-radius: var(--border-radius);
            box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
            display: flex;
            height: fit-content;
            justify-content: space-around;
            margin-inline: .5rem;
            padding-block: .15rem;
            width: 100%;

            .row {
                width: fit-content;
                margin: 0;
                padding: 0;
                padding-block: .3rem;
                display: flex;
                justify-content: center;
                align-items: center;

                @media screen and (max-width: 411px) {
                    flex-direction: column;
                }

                label {
                    width: 100%;
                    color: var(--color-blue-dark);
                    user-select: none;
                    font-size: .7rem;
                    padding-right: .3rem;
                }

                input {
                    appearance: none;
                    width: .5rem;
                    height: .5rem;
                    background-color: var(--color-light);
                    border-radius: 50%;
                    outline: 1px solid $clr;
                    outline-offset: 2px;
                    margin: .3rem;
                    transition: all .2s ease-in-out;
                }

                input:checked {
                    background-color: $clr;
                    outline-color: $clr;
                }

                select {
                    appearance: none;
                    border-radius: var(--border-radius);
                    padding-inline: .2rem;
                    border: none;
                    font-size: .7rem;
                    background-color: var(--color-light);
                    color: $clr;
                    outline: 1px solid $clr;
                }
            }
        }
    }
}