.userContainer {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  height: fit-content;
  background-color: var(--color-1-dark);
  z-index: 1;
  transition: var(--transition);
}
