@use "./styling/mixin" as *;

// in pages/servicii/id/person/index.js
.mainContainer {
  width: min(97%, 40rem);
  background-color: var(--color-2-dark);
  color: var(--color-light);
  border-radius: var(--border-radius);
  border: var(--color-border-card);
  .titleContainer {
    @include display();
    background-color: var(--color-1-dark);
    padding: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.3);
    border-radius: var(--border-radius);
    h4 {
      font-size: 0.9rem;
      letter-spacing: 1px;
      font-weight: 200;
    }
  }
  .topMenu {
    gap: 0.5rem;
    padding: 1rem 0.5rem;
    width: 100%;
    @include display($fd: row);
    h4 {
      margin: 0;
      background-color: var(--color-1-dark);
      border-radius: 0.5rem;
      width: calc(100% / 3);
      text-align: center;
      font-size: 0.7rem;
      padding: 0.3rem 0;
      cursor: pointer;
    }
  }
  .rotateContainer {
    overflow-x: clip;
    overflow-y: visible;
    .rotateWrapper {
      transform: rotateY(0deg);
      transition: all 0.5s ease-in-out;
      position: relative;
      min-height: 20rem;
      div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include display();
        h6 {
          font-size: 0.8rem;
          font-weight: 200;
        }
      }
      .screenLeft,
      .screenMiddle,
      .screenRight {
        background-color: var(--color-1-dark);
      }
      .screenLeft {
        transform: translateX(-100%);
        transform-origin: right;
        @include display($fd: row);
        flex-wrap: wrap;
        gap: 1rem;
        span {
          @include display();
          gap: 1rem;
          @media screen and (width < 543px) {
            & {
              @include display($fd: row, $jc: space-around);
              width: 100%;
              p {
                margin: auto;
                width: 50%;
                text-align: center;
              }
            }
          }
        }
      }
      .screenRight {
        transform: translateX(100%);
        transform-origin: left;
      }
      .screenLeft::before,
      .screenMiddle::before,
      .screenRight::before {
        content: "";
        position: absolute;
        top: -1rem;
        left: 17%;
        width: 0;
        height: 0;
        border-width: 1rem 0.5rem 1rem 0.5rem;
        border-color: transparent transparent var(--color-1-dark) transparent;
        border-style: solid;
        transform: translate(-50%, -50%);
      }
      .screenMiddle::before {
        left: 50%;
      }
      .screenRight::before {
        left: 83%;
      }
    }
  }
}
